@import "../anchors";
@import "../buttons";
@import "../media";
@import "../variables";

.application {
  align-items: center;
  display: flex;
  justify-content: center;
}

.logoutButton {
  composes: buttonNoFootprint;
}

.menu {
  color: $body-foreground;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 75%;

  @include tablet {
    flex-direction: row;

    li {
      flex-grow: 1;
    }
  }
}

.menuLink {
  composes: anchorReset;
  composes: buttonOutlineBody;
  display: block;
  margin: $gutter;
  text-align: center;
}
