@import "../buttons";
@import "../variables";

.header {
  grid-area: header;
  align-items: center;
  color: $primary-foreground;
  display: flex;
}

.header.elevated {
  box-shadow: $primary-background-shadow;
}

.title {
  flex-grow: 1;
  font-size: 20px;
  text-shadow: 0 1px 1px $primary-foreground-shadow;
}

.backButton {
  composes: buttonNoFootprint;
}

.content {
  grid-area: content;
  padding: 0 $gutter;
  overflow: auto;
}
