@import "../buttons";
@import "../variables";

.header {
  grid-area: header;
  align-items: center;
  color: $body-foreground;
  display: flex;
  z-index: 1;
}

.header.elevated {
  box-shadow: $elevate-2;
}

.title {
  flex-grow: 1;
  font-size: 20px;
}

.backButton {
  composes: buttonNoFootprint;
}

.content {
  grid-area: content;
  padding: 0 $gutter;
  overflow: auto;
}
