@import "../buttons";
@import "../variables";

.pageFrame {
  background-color: $body-background;
  color: $body-foreground;
  display: grid;
  height: 100vh;
  position: absolute;
  width: 100vw;
  grid-template-rows: 56px 1fr;
  grid-template-areas: 'header' 'content';
}

.header {
  grid-area: header;
  align-items: center;
  color: $body-foreground;
  display: flex;
  z-index: 1;
  transition: box-shadow .3s;
}

.header.elevated {
  box-shadow: $elevate-2;
}

.title {
  flex-grow: 1;
  font-size: 20px;
}

.backButton {
  composes: buttonNoFootprint;
}

.content {
  grid-area: content;
  padding: 0 $gutter;
  overflow: auto;
}
