.chocolate {
  --body-background: #cfcfcf;
  --body-foreground: #573c26;
  --body-fade-mix: #87776a;
  --body-shade: #bfbfbf;
  --card-foreground: #322f2d;
  --card-background: #fff;
  --card-shadow: 86, 77, 77;
}

.bloody {
  --body-background: #fff;
  --body-foreground: #831010;
  --body-fade-mix: #c66;
  --body-shade: #564d4d;
  --card-foreground: #831010;
  --card-background: #fff;
  --card-shadow: 86, 77, 77;
}
