$primary-foreground: #fff;
$primary-foreground-shadow: #00acc1;
$primary-background: #80deea;

$secondary-foreground: #006064;
$secondary-background: #fff;

$gutter-small: 5px;
$gutter: 10px;
$gutter-large: 25px;
