{
  "env": {
    "browser": true
  },
  "extends": [
    "@inlinedb/inlinedb",
    "plugin:react/recommended"
  ],
  "globals": {
    "build": true
  },
  "plugins": [
    "babel",
    "react"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-invalid-this": 0,
    "no-multiple-empty-lines": [
      2,
      {
        "max": 1,
        "maxEOF": 0,
        "maxBOF": 0
      }
    ],
    "padded-blocks": [
      2,
      "never"
    ],
    "sort-imports": 0,
    "babel/no-invalid-this": 2,
    "react/jsx-sort-props": 2,
    "react/sort-comp": 2
  },
  "settings": {
    "react": {
      "version": "16.3"
    }
  }
}
