$body-background: #f8f8ff;
$body-foreground: #0e355b;
$body-fade-mix: #6c839d;
$body-shade: #dfdfe5;

$card-background: #fff;
$card-foreground: $body-foreground;
$card-border: #e3e7ee;
$card-shadow: #ced6de;

$elevate-1: 0 1px 3px rgba($card-shadow, 0.12), 0 1px 2px rgba($card-shadow, 0.24);
$elevate-2: 0 3px 6px rgba($card-shadow, 0.16), 0 3px 6px rgba($card-shadow, 0.23);
$elevate-3: 0 10px 20px rgba($card-shadow, .19), 0 6px 6px rgba($card-shadow, .23);
$elevate-4: 0 14px 28px rgba($card-shadow, 0.25), 0 10px 10px rgba($card-shadow, 0.22);
$elevate-5: 0 19px 38px rgba($card-shadow, 0.30), 0 15px 12px rgba($card-shadow, 0.22);

$gutter-small: 5px;
$gutter: 10px;
$gutter-large: 25px;

$status-defined: #888;
$status-in-progress: #080;
$status-on-hold: #f00;
$status-completed: #080;
