$body-background: #f8f8ff;
$body-foreground: #0e355b;
$body-fade-mix: #6c839d;
$body-shade: #dfdfe5;

$card-background: #fff;
$card-foreground: $body-foreground;
$card-border: #e3e7ee;
$card-shadow: #ced6de;

$gutter-small: 4px;
$gutter: 8px;
$gutter-large: 24px;

$status-defined: #888;
$status-in-progress: #080;
$status-on-hold: #f00;
$status-completed: #888;

$toggle-icon-disabled: $card-border;
$toggle-icon-enabled: $card-foreground;
