@import "functions";
@import "variables";

.slideIn {
  $leftIn: 0;
  $leftOut: 120%;
  transition: left .3s ease-in-out;

  &:global(.frame-enter) {
    z-index: 2;
    left: $leftOut;
    box-shadow: elevate-5();
  }

  &:global(.frame-enter.frame-enter-active) {
    left: $leftIn;
  }

  &:global(.frame-enter-done) {
    left: auto;
    box-shadow: none;
    z-index: auto;
  }

  &:global(.frame-exit) {
    box-shadow: elevate-5();
    left: $leftIn;
    z-index: 2;
  }

  &:global(.frame-exit.frame-exit-active) {
    left: $leftOut;
  }
}
