@import "variables";

.slideIn {
  transition: left .3s ease-in-out;

  &:global(.frame-enter) {
    z-index: 2;
    left: 100%;
    box-shadow: $elevate-5;
  }

  &:global(.frame-enter.frame-enter-active) {
    left: 0;
    box-shadow: 0 0 $body-background;
  }

  &:global(.frame-enter-done) {
    left: auto;
    box-shadow: none;
    z-index: auto;
  }

  &:global(.frame-exit) {
    box-shadow: $elevate-5;
    left: 0;
    z-index: 2;
  }

  &:global(.frame-exit.frame-exit-active) {
    left: 100%;
  }
}
