@import "variables";

.button {
  padding: 10px 20px;
}

.buttonNoFootprint {
  background: none;
  border: none;
  display: flex;
}

.buttonOutlineBody {
  composes: button;
  background: none;
  border: 1px solid $body-foreground;
  color: $body-foreground;
  transition: background-color .3s;

  &:hover {
    background-color: $body-foreground;
    color: $body-background;
  }

  &:active {
    $fade: mix($body-foreground, $body-background, 60%);
    background-color: $fade;
    border-color: $fade;
  }
}
