@import "media";
@import "variables";

.pageFrame {
  align-items: center;
  display: flex;
  justify-content: center;
}

.menu {
  color: $body-foreground;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 75%;

  @include tablet {
    flex-direction: row;

    li {
      flex-grow: 1;
    }
  }
}
