@import "variables";

.icon {
  height: 24px;
  width: 24px;
}

.iconShell {
  composes: icon;
  margin: 16px;
}

.iconBody {
  composes: icon;
  border: 16px solid transparent;
  border-radius: 50%;
  box-sizing: content-box;
  fill: $body-foreground;
  transition: background-color .3s, border-color .3s;

  &:active {
    background-color: $body-shade;
    border-color: $body-shade;
  }
}
