@import "variables";

.icon {
  height: 24px;
  width: 24px;
}

.iconBody {
  composes: icon;
  fill: $body-foreground;
}

.iconCard {
  composes: icon;
  fill: $card-foreground;
}

.iconCardInverted {
  composes: icon;
  fill: $card-background;
}

.iconGrouped {
  fill: $toggle-icon-enabled
}

.iconUnGrouped {
  fill: $toggle-icon-disabled
}

.iconMenu {
  composes: icon;
  fill: $card-foreground;
  margin-right: 20px;
}

.iconStatusDefined {
  composes: icon;
  fill: $status-defined;
}

.iconStatusInProgress {
  composes: icon;
  fill: $status-in-progress;
}

.iconStatusOnHold {
  composes: icon;
  fill: $status-on-hold;
}

.iconStatusCompleted {
  composes: icon;
  fill: $status-completed;
}
