@import "baseline/buttons";
@import "baseline/page";

.login {
  composes: page;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.loginButton {
  composes: white-button;
}
