@import "variables";

.shoppingList {
  display: flex;
  flex-direction: column;
}

.listSplitter {
  display: none;
  font-variant: small-caps;
  margin: $gutter-large 0 $gutter-small $gutter-large;
}

.shoppingList.grouped .listSplitter {
  display: block;
}

.shoppingItem {
  align-items: center;
  display: flex;
  margin: 0;

  &.bought {
    background: none;
    box-shadow: none;
    color: $status-completed;
    text-decoration: line-through;
  }

  &.selected {
    background-color: $card-foreground;
    color: $card-background;
  }
}

.statusToggle {
  padding: $gutter-small;
}
