.chocolate {
  --body-background: #cfcfcf;
  --body-foreground: #573c26;
  --body-fade-mix: #87776a;
  --body-shade: #bfbfbf;
  --card-background: #fff;
  --card-foreground: #322f2d;
  --card-shadow: 86, 77, 77;
}

.bloody {
  --body-background: #fff;
  --body-foreground: #831010;
  --body-fade-mix: #c66;
  --body-shade: #564d4d;
  --card-background: #fff;
  --card-foreground: #831010;
  --card-shadow: 86, 77, 77;
}

.retro {
  --body-background: #e7b798;
  --body-foreground: #8c5726;
  --body-fade-mix: #b07d54;
  --body-shade: #bf8970;
  --card-background: #f5f3da;
  --card-foreground: #685343;
  --card-shadow: 104, 83, 67;
}

.opal {
  --body-background: #eff5f1;
  --body-foreground: #384458;
  --body-fade-mix: #818b95;
  --body-shade: #ececed;
  --card-background: #f9f6e7;
  --card-foreground: #384458;
  --card-shadow: 56, 68, 88;
}

.dark-amethyst {
  --body-background: #140d1d;
  --body-foreground: #928d97;
  --body-fade-mix: #605a66;
  --body-shade: #4e4b51;
  --card-background: #3e3c40;
  --card-foreground: #d3d1d5;
  --card-shadow: 0, 0, 0;
}

.black-wings {
  --body-background: #252728;
  --body-foreground: #6a615d;
  --body-fade-mix: #605a66;
  --body-shade: #484442;
  --card-background: #363535;
  --card-foreground: #c3c0be;
  --card-shadow: 0, 0, 0;
}
