@import "variables";

.todoItemTask {
  margin-left: $gutter-large;
  padding: $gutter-large $gutter $gutter-large $gutter-large*2;
  position: relative;
}

.statusToggle {
  background-color: white;
  border: 1px solid $card-border;
  border-radius: 50%;
  left: 0;
  padding: $gutter-small;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
