$secondary-foreground: #006064;
$secondary-background: #fff;

$primary-foreground: #fff;
$primary-foreground-shadow: #00acc1;
$primary-background: #80deea;
$primary-background-shadow: 0 3px 6px rgba($secondary-foreground, 0.16), 0 3px 6px rgba($secondary-foreground, 0.23);


$gutter-small: 5px;
$gutter: 10px;
$gutter-large: 25px;
